<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890340566723-cgsc9o9b49etiokp0ot4m6crg11150oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890340566723-cgsc9o9b49etiokp0ot4m6crg11150oa</string>
	<key>API_KEY</key>
	<string>AIzaSyCvuiFojtJfZT-K1L7yb13S2Jr6mbEuTwo</string>
	<key>GCM_SENDER_ID</key>
	<string>890340566723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sherislamdev.PizzaDelivery</string>
	<key>PROJECT_ID</key>
	<string>pizzadevliveryspp</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadevliveryspp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890340566723:ios:ef021a5cd83ecb4bf2e476</string>
</dict>
</plist>